body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:#000;
	font-family: "メイリオ", Meiryo, Osaka, sans-serif;
	font-size: 14px;
	color:#FFF;
}

canvas {
	position:absolute;
}

#nocanvas {
	margin-top:80px;
	margin-left:20px;
}